@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h3>Merhaba
        @{if(User.Identity.IsAuthenticated)
        {
            <text>@User.Identity.Name</text>
        }
        else
        {
            <text>ziyaretçi</text>  
        }} </h3>
    <p>Bu websitesi kişisel bilgilerin bulunduğu tamamen eğlence amaçlı bir websitesidir.</p>
    <p>Eğer websitesi sahibini tanıyorsan üst kısımdan kayıt olarak bunu kanıtlayabilirsin. :)</p>

</div>