@model PagingViewModel<UserDtoForList>


@{
    ViewData["Title"] = "Users";
}

<div class="container mt-4">
    <h1 class="mb-4">User Management</h1>
    <div id="userListDiv">
        @await Html.PartialAsync("_UserListPartial", Model)
    </div>
    <a href="@Url.Action("Create", "Users")" class="btn btn-success">Add New User</a>
</div>